//variables
$white: #fff;

//mixins
@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin screen {
    width: 100vw;
    height: 100%;   
    position: fixed;
    overflow-y: scroll;
    
    @include tablet {
        position: relative;
        width: 100%;
        height: 100%;
    }
}
